$level-height: 7vh;

* {
  box-sizing: border-box;
}

body {
  height: 101vh;
  margin: 0;

  #root, main {
    height: 100%;
  }

  textarea.textarea {
    resize: none;
  }

  #root main div.columns {
    height: 100%;

    div.top-bar {
      height: $level-height;
      margin: 0;
    }

    div.scrolls.specify {
      height: (79vh - $level-height);
      overflow-y: scroll;
    }
  }
}
