@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/react-toastify/scss/main.scss";

$top-bar-height: 7vh;

* {
  box-sizing: border-box;
}

body {
  height: 101vh;
  margin: 0;

  #root, main {
    height: 100%;
  }

  div.box.is-primary, div.box.is-info {
    color: $text-invert;

    &.is-primary {
      background-color: $primary;
    }

    &.is-info {
      background-color: $info;
    }

  }

  textarea.textarea {
    resize: none;
  }

// !!! Make sure that this scales with other elements
  svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    &.is-danger {
      color: $danger;
    }

    &:hover {
      color: $info;
    }
  }

  #root main div.columns {
    height: 100%;

    div.top-bar {
      height: $top-bar-height;
      margin: 0;
    }
    /// !!! Can the height be set on each column and then the scroll panes seperately?
    div.scrolls {
      height: (79vh - $top-bar-height);
      overflow-y: scroll;
    }
  }
}
